<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 content">
                <app-landing-page></app-landing-page>
            </div>
            <div class="col-lg-6 col-md-12 form-clean">
                  <div class="btn-wrraper">
                      <div class="btn-group btn-group-sm float-right mt-2">
                          <button type="button" class="btn btn-green-line" (click) = "navigateSignUp()">Sign Up</button>
                          <button type="button" class="btn btn-green-line" (click) = "navigateSignIn()">Sign In</button>
                      </div>
                  </div>
                  <h1>Reset your password?</h1>
                  <p>Please enter your new password</p>
                  <div class="form-clean">
                      <form #forgotForm="ngForm" method="post" (ngSubmit)="OnSubmit(password.value)" class="form-clean">
                          <mat-form-field class="example-full-width">
                            <input matInput type="password" #password ngModel name="password" placeholder="New password" spellcheck="false" required>
                          </mat-form-field>
                          <div class="form-group">
                            <button class="btn btn-green" [disabled]="!forgotForm.valid || isLoading" type="submit">
                              {{message}}</button>
                          </div>
                          <div *ngIf="error" class="error">
                            <p>An error occurred! Unable to reset password</p>
                          </div>
                          <div *ngIf="success" class="success">
                            <p>Your password was successfully updated. Login with your new password.</p>
                          </div>
                      </form>
                  </div>
            </div>
        </div>
    </div>
</div>