<div class="footer">
    <div class="col-md-4 col-sm-12 h-100 d-inline-block">
        <img src="../assets/agora.png" style="width: 15vw;" />
    </div>
    <div class="col-md-5 col-sm-7 d-inline-block text-left align-middle">
        <div>
            <p class="h1 footer-head">Contact us</p>
            <p class="footer-text">
                Please use our Gitter Channels to communicate with us.<br>
                We would love to here from you!
            </p>
        </div>
        <div style="margin-top: 25px;">
            <p class="footer-text">
                Copyright © AOSSIE 2019
            </p>
            <div class="footer-social-media-section">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/aossie_org">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.gitlab.com/aossie">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://gitter.im/AOSSIE/Lobby">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-5 h-100 d-inline-block">
        <button style="width: 182px;"><a href="https://gitlab.com/aossie/" target="_blank">AOSSIE gitlab</a></button>
        <br>
        <button><a href="https://gitter.im/AOSSIE/Lobby" target="_blank">Contact us on gitter</a></button>
    </div>
</div>