<div class="main-content">
    <div class="container-fluid">
        <app-heading-bar>
            <div class="heading">
                   Voting Algorithm
            </div>
            <div class="instruction">
                <i>Instruction: Provide select the voting algorithm. </i>
            </div>
        </app-heading-bar>
        <div class="form-election">
            <form #ngform4="ngForm" (ngSubmit)="next()">
                <div class="form-group">
                    <div class="row center">
                        <div class="col-md-7 col-lg-5 col-xl-4 col-sm-12 text-left">
                            <div class=" row algo" *ngFor="let algo of algos; let i = index">
                                <div class=" col-9 col-sm group">
                                    <label class="radio-label">{{algo.description}}
                                        <input type="radio" value="{{algo.value}}" [(ngModel)]="form4.votingAlgo" ngDefaultControl name="form4.votingAlgo">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class=" col-3 col-sm-4 group text-right">
                                    <a type="button" href="{{algo.link}}" class="btn btn-gold btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">chrome_reader_mode</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row pb-20">
            <div class="col text-center pt-3">
                <span class="pr-20 text-right">
                    <button class="btn btn-green" (click)="previous()">Previous</button>
                </span>
            </div>
            <div class="col text-center pt-3">
                <span class="pr-20 text-right">
                    <button class="btn btn-green" [disabled]="!ngform4.valid" (click)="finish()">{{buttonStatus}}</button>
                </span>
            </div>
        </div>
    </div>
</div>
    