<div class="bg-white">
    <div class="mx-auto row d-flex justify-content-center head">
        <h1 class="my-3 heading1-green">ABOUT</h1>
    </div>
    <div class="about my-3">
        <p class="para-about">Agora vote is a voting platform where users can create elections and invite friends to cast their votes.</p>
        <p class="para-about">It supports a wide range of voting algorithms some of which are Majority, Egalitarian, Australian STV just
            to name a few</p>
    </div>
    <button class="btn btn-green" type="button"><a class="a-link" href="http://aossie.org" target="_blank">Learn More</a></button>
</div>
<div class="bg-white">
    <div class="mx-auto row d-flex justify-content-center head">
        <h1 class="my-3 heading1-green">CONTACT US</h1>
    </div>
    <div class="about my-3">
        <p class="para-about">Please use our Gitter Channels to communicate with us.</p>
        <h3><p class="para-about">We would love to here from you!</p></h3>
    </div>
    <div class="btn-wrapper">
        <button class="btn btn-green mr-3" type="button"><a class="a-link" href="https://gitlab.com/aossie/" target="_blank">AOSSIE GITLAB</a></button>
        <button class="btn btn-green" type="button"><a class="a-link" href="https://gitter.im/GSoC-AOSSIE/" target="_blank">Contact Us On Gitter</a></button>
    </div>
</div>
<div class="bg-light-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">Copyright © AOSSIE 2019</div>
            <div class="col-4 col-md-2 social-links">
                <a href="https://twitter.com/aossie_org">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="http://www.gitlab.com/aossie">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://gitter.im/AOSSIE/Lobby">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>