$segoe: 'Segoe UI', 'Open Sans', Helvetica, sans-serif

.tab-bar
  margin: 30px auto
  width: 84vw
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  list-style-type: none
  -webkit-padding-start: 0
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

.tab
  width: 28vw
  padding: 20px 0
  background: white
  color: #607D8B
  overflow: hidden
  text-align: center
  -webkit-box-flex: 1
  -ms-flex-positive: 1
  flex-grow: 1
  cursor: pointer
  position: relative
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

.indicator
  width: 28vw
  height: 3px
  background: #3AB0D7
  position: absolute
  margin-top: 63px
  margin-left: 0
  -webkit-transition: margin 0.5s ease
  transition: margin 0.5s ease
.icon-img
    margin: 0px
    height: 6vw
    width: 6vw
    min-height: 60px
    min-width: 60px
    margin: auto
.hidden
    display: none
@media (max-width: 767px)
    .hidden-sm
        display: none
    .form-icon
        margin-left: 0px !important
.form-icon
    margin-left: 25px
    margin-right: 30px
.yellow-background
    background-color: #FAC914
