<div class="main-content">
    <div class="container full-width text-center">
        <app-navbar class="text-left"></app-navbar>
        <app-heading-bar>
            <img class="icon-img" src="../assets/prize_batch.svg" />
            <div class="heading">
               <span class="blue-text">Election Name</span><br>{{ election?.name }}
            </div>
            <div class="text1"><span class="blue-text font-weight-bold">Description</span></div>
            <div class="text1">{{ election?.description }}</div>
        </app-heading-bar>
        <div class="btn-wrapper">
            <ul class="tab-bar">
                <li class="tab wave dark">Election Info</li>
                <span *ngIf="election.electionType != 'Public' ?  changeTabsNumber(3) : changeTabsNumber(2)"></span>
                <li class="tab wave dark"  [ngStyle]="{'display': getAddVoterDisplay() }" (click)="addVoter()" >Add Voters</li>
                <li class="tab wave dark" (click)="results()">View Results</li>
                <div class="indicator" [ngStyle]="{'width.vw': 84/getTabsNumber()}"></div>
            </ul>
        </div>
        <div class="container text-center mb-5 mt-5">
            <h1 class="font-weight-bold" style="color: #607D8B">Schedule</h1>
            <div class="text-white text-center d-inline-block col-sm-12 schedule" style="height: 320px; width: 270px; background: #3AB0D7; " >
                <div class="d-flex" style="height: 60px;">
                    <h3 class="font-weight-bold"  style="margin: auto; ">Starts</h3>
                </div>
                <div class="col-12 d-flex" style="background-color: #219bc3; height: 50px;">
                    <h5 style="margin: auto;">{{getTime(election?.start)}}</h5>
                </div>
                <div class="col-12 d-flex flex-column" style="height: 203px;">
                    <h4 style="margin: auto;">{{getMonth(election?.start)}}</h4>
                    <h2 style="margin: auto;" class="font-weight-bold">{{getDate(election?.start)}}</h2>
                    <h4 style="margin: auto;">{{getYear(election?.start)}}</h4>
                </div>
            </div>
            <div class="text-white text-center d-inline-block col-sm-12 schedule" style="height: 320px; width: 270px; background: #3AB0D7;" >
                <div class="d-flex" style="height: 60px;">
                    <h2 class="col-12 font-weight-bold"  style="margin: auto;">Ends</h2>
                </div>
                <div class="col-12 d-flex" style="background-color: #219bc3; height: 50px;">
                    <h4 style="margin: auto;">{{getTime(election?.end)}}</h4>
                </div>
                <div class="col-12 d-flex  flex-column" style="height: 203px;">
                    <h3 style="margin: auto;">{{getMonth(election?.end)}}</h3>
                    <h1 style="margin: auto;" class="font-weight-bold">{{getDate(election?.end)}}</h1>
                    <h3 style="margin: auto;">{{getYear(election?.end)}}</h3>
                </div>
            </div>
        </div >
        <election-pages-card class="col-6" class="col-6">
            <span class="header text-white">
                <div class="img-container">
                    <img class="icon" src="../assets/info.svg">
                </div>
                Basic Info
            </span>
            <div class="body">
                <img src="../assets/status.svg" class="election-pages-card-icon"/> <span style="margin: 2vw;">Status: {{status}}</span>
                <br>
                <img src="../assets/cloud.svg" class="election-pages-card-icon"/> <span style="margin: 2vw;">Type: {{election?.electionType}}</span>
                <br>
                <img src="../assets/sigma.svg" class="election-pages-card-icon"/> <span style="margin: 2vw;">Total Voters: {{election?.voters.length}}</span>
            </div>
            <div class="footer text-white">
                Voting Algorithm: {{election?.votingAlgo}}
            </div>
        </election-pages-card>
        <election-pages-card class="col-6">
            <span class="header text-white">
                <div class="img-container">
                    <img class="icon" src="../assets/candidate.svg">
                </div>
                Candidates
            </span>
            
            <div class="body">
                <div *ngFor="let candidate of election?.candidates">
                    <div *ngIf="candidate.trim().toLowerCase().indexOf(candidateSearchStr.trim().toLowerCase())!==-1">
                        <img src="../assets/candidate2.svg" class="election-pages-card-icon"/> <span style="margin: 2vw;">{{candidate}}</span><br>
                    </div>
                </div>
            </div>
            <div class="footer text-white col-10">
                <div class="form-group col-12 d-inline-block text-white">
                    <input class="candidateSearch text-white" (keyup)='filterCandidate($event)' placeholder="Search" />
                    <label for="input" class="control-label" ></label><i class="bar"></i>
                </div>
            </div>
        </election-pages-card>
        <div class="container text-center">
            <div class="text-center mt-5 d-inline-block w-50">
                <button class="col-md-4 col-sm-6 col-xs-10 pull-right mr-3 btn-danger" (click)="delete()" >Delete <i class="material-icons align-top">delete</i></button>
            </div>
            <div class="text-center mt-5 d-inline-block w-50">
                <button class="col-md-4 col-sm-6 col-xs-10 pull-left ml-3" (click)="edit()"> Edit<i class="material-icons align-top">settings</i> </button>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>