<div class="main-content">
    <div class="container-fluid">
        <app-navbar></app-navbar>
        <app-heading-bar>
            <img class="icon-img" src="../assets/profile.png" />
            <div class="heading">
                Change <span class="blue-text"><br class="d-none">Password</span>
            </div>
            <div class="text1 hidden-sm">{{user.username}}</div>
            <div class="text1 hidden-sm">{{user.email}}</div>
        </app-heading-bar>
        <div class="container">
            <div class="col-md-12 col-lg-10 col-xl-8 col-12">
                <div class="card card-profile">
                    <div class="card-body">
                        <form #forgotForm="ngForm" #ngFormPassword="ngForm" (ngSubmit)="changePassword()" >
                            <img class="form-icon" src="../assets/lock.svg" style="margin-left: 20px;"/>
                            <div class="form-group col-md-6 col-sm-12">
                                <input matInput type="password" name="newpassword" [(ngModel)]="newPassword.password" spellcheck="false" required />
                                <label for="input" class="control-label">New Password</label><i class="bar"></i>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <input  type="password" name="newpassword" [(ngModel)]="newRetypePassword.password" spellcheck="false" required />
                                <label for="input" class="control-label">Retype Password</label><i class="bar"></i>
                            </div>
                            <button [disabled]="!ngFormPassword.valid" type="submit" style="margin-left: 30px;">Reset Password</button>
                            <button routerLink="/dashboard" type="submit" style="margin-left: 20px;">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>  
</div>
