<div class="main-content">
    <div class="full-width">
        <app-navbar></app-navbar>
        <app-heading-bar>
            <img class="icon-img" src="../assets/add-file.svg" />
            <div class="heading">
                Create <span class="blue-text">Election</span>
            </div>
            <div class="text1 font-weight-bold blue-text">Add Voters</div>
        </app-heading-bar>
        <div class="btn-wrapper">
            <ul class="tab-bar">
                <li class="tab wave dark" (click)="electionInfo()">Election Info</li>
                <li class="tab wave dark" >Add Voters</li>
                <li class="tab wave dark" (click)="results()">View Results</li>
                <div class="indicator" ></div>
            </ul>
        </div>
        <div class="container infoBox">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="form-election">
                        <form #ngvoter="ngForm" (ngSubmit)="add()">
                            <img class="form-icon" src="../assets/user.svg"/>
                            <div class="form-group col-md-8 col-sm-12 d-inline-block">
                                <input type="text" [(ngModel)]="voter.name" name="voters_name" required/>
                                <label for="input" class="control-label">Voter's Name</label><i class="bar"></i>
                            </div><br>
                            <img class="form-icon" src="../assets/email.svg"/>
                            <div class="form-group col-md-8 col-sm-12 d-inline-block">
                                <input type="email" [(ngModel)]="voter.hash" name="voters_email" required/>
                                <label for="input" class="control-label">Voter's Email</label><i class="bar"></i>
                            </div>
                            <div class="w-100 text-center mt-5">
                                <button class="col-md-3 col-sm-6 col-xs-10" [disabled]="!ngvoter.valid" type="submit" >Add Voter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <br>
                    <div class="card pt-20">
                        <div class="card-header blue-text">
                            <h4 class="card-title">Voters</h4>
                            <p class="card-category">Fill the form to add more Voters</p>
                            <p class="card-category">Total: {{election?.voters.length}} Voters</p>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr *ngIf="election?.voters.length == 0" class="d-block">
                                        No Voters Added
                                    </tr>
                                    <div class="bg-light mb-2 row" #else *ngFor="let voter of voters; let ind = index">
                                        <tr>
                                            <td class="text-black col-md-1 col-sm-2">{{ind + 1}}</td>
                                            <td class="text-black col-md-4 col-sm-3">{{voter.name}}</td>
                                            <td class="text-black col-md-6 col-sm-5">{{voter.hash}}</td>
                                            <td class="td-actions text-right col-md-1 col-sm-2">
                                                <button type="button" (click)="delete(ind)" class="btn btn-sm btn-just-icon p-0">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col text-center">
                                    <span class="text-right">
                                        <button [disabled]="!hasVoters() || isLoading" (click)="submit()">{{buttonText}}</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>