<div class="{{isUserAuthenticated ? 'bg-white' : 'bg-green'}} bg-green">
    <div class="mx-auto row d-flex justify-content-center head">
        <img class="logo" src="../../assets/agora.png" alt="Agora-Logo">
        <h1 class="my-auto heading1-white">AGORA</h1>
    </div>
    <img class="vote" src="../../assets/vote.png" alt="Vote">
    <div class="about">
        <p class="para-about">Agora vote is a voting platform where users can create elections and invite friends to cast their votes.</p>
        <p class="para-about">It supports a wide range of voting algorithms some of which are Majority, Egalitarian, Australian STV just
            to name a few</p>
    </div>
    <button class="btn {{isUserAuthenticated ? 'btn-green' : 'btn-white'}}" type="button"><a class="a-link" href="http://aossie.org" target="_blank">Learn More</a></button>
</div>