<div id="landing-container">
  <img src="../assets/vote_black.svg" style="width: 100%; position: absolute;" class="hidden-sm"/>
  <div class="col-sm-12 col-md-6 d-inline-block text-white text-center sm-black-bg" style="margin-top: 9vw;">
      <div>
          <h2 class="d-inline-block">Create an</h2><h2 class="d-inline-block blue-text">&nbsp;election&nbsp; </h2>
          <h2 class="d-inline-block"> and invite </h2><br>
          <h2 class="d-inline-block"> friends to cast their </h2>
          <h2 class="d-inline-block blue-text"> &nbsp;votes&nbsp;</h2>
          <h2 class="d-inline-block"> today! </h2>
          <br>
          <button><a href="http://aossie.org" target="_blank">Learn More</a></button>
      </div>
  </div>
</div>
