.btn-white
    background: #ffffff
    color: #9E9E9E
    width: 140px
.btn-white
    a
        text-decoration: none
.bg-white
    background: #ffffff
    color: #00843D
.btn-green
    background: #00843D
    a
        color: #ffffff
.noPadding
    padding: 0px
button
    padding: 10px 20px
    outline: none
    border: none
    color: #fff
    border-radius: 50px
    margin-top: 30px
    background-color: #3ab0d7
    a
        color: #fff
.yellow-text
    color: #FAC914
.text-left
    text-align: left
.blue-background
    background-color: #3AB0D7
.blue-text
    color: #3AB0D7
form button
    border-radius: 50px
#landing-container>h2
    font-size: 3vw
#landing-container
    margin-bottom: 20vw
@media (max-width: 767px)
    .sm-black-bg
        background-color: #171717
        margin-top: 0px !important
        padding: 30px
    .hidden-sm
        display: none
