<div class="main-content">
        <div class="container-fluid">
            <app-navbar></app-navbar>
            <app-heading-bar>
                <img class="icon-img" src="../assets/profile.png" />
                <div class="heading">
                    My <span class="blue-text">Profile</span>
                </div>
                <div class="text1">{{user.username}}</div>
                <div class="text1">{{user.email}}</div>
            </app-heading-bar>
            <div class="container">
                <div class="col-12">
                    <form class="form-profile" #ngProfileForm="ngForm" (ngSubmit)="updateProfile()">
                        <img class="form-icon" src="../assets/user.svg"/>
                        <div class="form-group col-md-4 col-sm-12 d-inline-block">
                            <input name="firstName" type="text" [(ngModel)]="user.firstName" />
                            <label for="input" class="control-label">First Name</label><i class="bar"></i>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 d-inline-block">
                            <input name="lastName" type="text" [(ngModel)]="user.lastName" />
                            <label for="input" class="control-label">Last Name</label><i class="bar"></i>
                        </div><br>
                        <img class="form-icon" src="../assets/email.svg"/>
                        <div class="form-group col-md-4 col-sm-12 d-inline-block">
                            <input name="email" [(ngModel)]="user.email" type="email" />
                            <label for="input" class="control-label">Email</label><i class="bar"></i>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 d-inline-block">
                            <input name="username" [(ngModel)]="user.username" />
                            <label for="input" class="control-label">Username</label><i class="bar"></i>
                        </div><br>
                        <div *ngIf="!isSocialUser() && !isPasswordResetEnabled()">
                            <img class="form-icon" src="../assets/lock.svg"/>
                            <div class="form-group col-md-4 col-sm-12 d-inline-block">
                                <input value="*****" name="password" />
                                <label for="input" class="control-label">Password</label><i class="bar"></i>
                            </div>
                            <button (click)="resetPasswordToggle()">Change Password</button>
                        </div>
                        <div *ngIf="isPasswordResetEnabled()">
                            <form #forgotForm="ngForm" method="post" (ngSubmit)="OnSubmit(password.value)" >
                                <img class="form-icon" src="../assets/lock.svg"/>
                                <div class="form-group col-md-4 col-sm-12 d-inline-block">
                                    <input matInput type="password" #password ngModel name="password" spellcheck="false" required />
                                    <label for="input" class="control-label">New Password</label><i class="bar"></i>
                                </div>
                                <button [disabled]="!forgotForm.valid || isLoading" type="submit" style="margin-left: 30px;">Reset Password</button>
                                <button (click)="resetPasswordToggle()" type="submit" style="margin-left: 20px;">Cancel</button>
                                <div *ngIf="error" class="error" style="margin-left: 60px;">
                                    <p>An error occurred! Unable to reset password</p>
                                </div>
                                <div *ngIf="success" class="success" style="margin-left: 60px;">
                                    <p>Your password was successfully updated. Login with your new password.</p>
                                </div>
                            </form>
                        </div>
                        <br>
                        <img class="form-icon" src="../assets/mobile_password.svg"/>
                        <div class="form-group col-md-4 col-sm-12 d-inline-block">
                            <label class="material-switch w-100">
                                <input type="checkbox" name="two-factor-authentication" (click)="toggleTwoFactorAuthentication()" [attr.checked]="twoFacorAuthentication ? 'checked': null" >
                                <span>Two Factor Authentication</span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <app-footer></app-footer>
           <!-- <div class="row reverse">
                <div class="col-md-8 col-sm-12 center">
                    <form class="form-profile" #ngProfileForm="ngForm" (ngSubmit)="updateProfile()">
                                <div class="example-full-width">
                                    <label for="username">Username: </label>
                                    <input class="full-width" placeholder="Username" name="username" [(ngModel)]="user.username" readonly>
                                </div>
                                <div class="example-full-width">
                                    <label for="email">Email: </label>
                                    <input class="full-width" placeholder="Email address" name="email" [(ngModel)]="user.email" type="email">
                                </div>
                                <div class="example-full-width">
                                    <label for="firstName">First Name:</label>
                                    <input class="full-width" placeholder="Fist Name" name="firstName" type="text" [(ngModel)]="user.firstName">
                                </div>
                                <div class="example-full-width">
                                    <label for="lastName">Last Name:</label>
                                    <input class="full-width" placeholder="Last Name" name="lastName" type="text" [(ngModel)]="user.lastName">
                                </div>
                                <div class="example-full-width row">
                                    <label class ="long-label" for="two-factor-authentication">Two Factor Authentication:</label>
                                    <div name="two-factor-authentication" class="btn btn-black white-link" (click)="toggleTwoFactorAuthentication()">{{twoFactorAuth}}</div>
                                </div>
                                <div *ngIf="!isSocialUser()" class="example-full-width row">
                                    <label class ="long-label" for="password">Password:</label>
                                    <div (click)="navigatePassword()" name="password" class="btn btn-black">Change</div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <button type="submit" [disabled]="!ngProfileForm.valid" class="btn btn-green text-center">Update Profile</button>
                                </div>
                                <div class="clearfix"></div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar profile-image">
                            <a>
                                <img *ngIf="!user.avatarURL" class="img" src="../../../../assets/agora.png" />
                            </a>
                            <a>
                                <img *ngIf="user.avatarURL" class="img" src="{{user.avatarURL}}" />
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-category text-gray">{{user.fullName()}}</h4>
                            <h6 class="card-category text-gray">{{user.email}}</h6>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    