<app-navbar></app-navbar>
<div class="dashboard-container">
    <img src="../assets/black-trapezium.svg" style="width: 100%; position: absolute; z-index: -1;" />
    <div class="col-12">
        <div class="col-sm-6 col-xs-12 d-inline-block align-middle">
            <div class="align-middle d-inline-block" style="margin: 7vw 0 0 7vw;">
                <h2 class="d-inline-block">Your</h2><h2 class="d-inline-block blue-text">&nbsp;Elections&nbsp; </h2>
            </div>
            <img src="../assets/checklist-on-a-paper-with-a-pencil.png" style="width: 6vw; margin: 6vw 7vw 0;"/>
        </div>
        <div class="col-sm-6 col-xs-12  d-inline-block text-center align-middle" style="margin-top: 2vw">
            <button class="col-md-5 col-sm-10 col-xs-12" (click)="navigatePrivate()">Create a new Election</button>
            <br>
            <button class="col-md-5 col-sm-10 col-xs-12" (click)="navigatePoll()">Create a new Poll</button>
        </div>
    </div>
    <table class="table election-count-table col-lg-9 col-md-10">
        <tbody>
          <tr class="text-white head">
            <td scope="col">Total Elections</td>
            <td scope="col">Active Elections</td>
            <td scope="col">Finished Elections</td>
            <td scope="col">Pending Elections</td>
          </tr>
          <tr class="count-data">
            <td>
              <img src="../assets/total_elections.svg" class="election-count-td-background" />
              <p class="d-flex" >
                <span class="m-auto">{{elections?.length}}</span>
              </p>
            </td>
            <td>
              <img src="../assets/active_elections.svg" class="election-count-td-background"/>
              <p class="d-flex" >
                <span class="m-auto">{{activeElections?.length}}</span>
              </p>
            </td>
            <td>
              <img src="../assets/finished_elections.svg" class="election-count-td-background"/>
              <p class="d-flex" >
                <span class="m-auto">{{finishedElections?.length}}</span>
              </p>
            </td>
            <td>
              <img src="../assets/pending_elections.svg" class="election-count-td-background"/>
              <p class="d-flex" >
                <span class="m-auto">{{pendingElections?.length}}</span>
              </p>
            </td>
          </tr>
        </tbody>
    </table>
    <div class="container" >
        <div *ngIf="!isMobile()" class="col-12 mt-6 hidden-md" style="background-color: #31a0cd; height: 6vw;">
            <div class="election-head row text-white" >
                <div class="name col-12 col-md-4">Election Name</div>
                <div class="startDate col-6 col-md-2">Start Date</div>
                <div class="endDate col-6 col-md-2">End Date</div>
                <div class="status col-6 col-md-2">Status</div>
            </div>
        </div>
        <div class="electionStats d-flex justify-content-center mb-4" *ngFor="let election of elections">
            <div class="col-md-12">
                <div class="electionInfo row">
                    <div class="name col-12 col-md-4">{{election?.name}}</div>
                    <div class="startDate col-6 col-md-2">{{getDisplayDate(election?.start)}}</div>
                    <div class="endDate col-6 col-md-2">{{getDisplayDate(election?.end)}}</div>
                    <div class="status col-6 col-md-2" style="color: #000; background-color: #FAC914;">
                        <div>{{getStatus(election)}}</div>
                    </div>
                    <div class="editStatus col-6 col-md-2" (click)="navigateElection(election._id)">
                        <div class="results">More Info</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4 blue-text" *ngIf="elections.length == 0">
            <div class="row mt-4 justify-content-center">
                <h1 class="text-center">No Elections Created</h1>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
