<div class="main-content">
    <div>
        <app-navbar class="text-left"></app-navbar>
        <app-heading-bar>
            <img class="icon-img" src="../assets/add-file.svg" />
            <div class="heading">
                Create <span class="blue-text">Election</span>
            </div>
            <div class="text1 font-weight-bold blue-text">Add Candidates</div>
        </app-heading-bar>
        <div>
            <ul class="tab-bar">
                <li class="tab wave dark" >Election Info</li>
                <li class="tab wave dark" >Candidates</li>
                <li class="tab wave dark"><span class="hidden-sm">Voting</span> Algorithm</li>
                <div class="indicator"></div>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="form-election">
                        <form class="text-center" #ngform3="ngForm" (ngSubmit)="add(currentCandidate)">
                            <img class="form-icon" src="../assets/user.svg"/>
                            <div class="form-group col-md-4 col-sm-12 d-inline-block">
                                <input matInput type="text" [(ngModel)]="currentCandidate" name="candidate_name" />
                                <label for="input" class="control-label">Candidate Name</label><i class="bar"></i>
                            </div>
                            <div class="w-100 text-center mt-5">
                                <button class="col-md-3 col-sm-6 col-xs-10" [disabled]="!ngform3.valid" type="submit" >Add Candidate</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <br>
                    <div class="card pt-20">
                        <div class="card-header blue-text">
                            <h4 class="card-title">Candidates</h4>
                            <p class="card-category">Fill the form to add more candidates</p>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr *ngIf="form3.candidates.length == 0" class="d-block blue-text">
                                        No Candidates Added
                                    </tr>
                                    <div class="bg-light" #else *ngFor="let candidate of form3.candidates; let ind = index">
                                        <tr>
                                            <td class="text-black align-middle">{{candidate}}</td>
                                            <td class="td-actions text-right">
                                                <button type="button" (click)="delete(ind)" class="btn btn-sm btn-just-icon">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <div class="text-center mt-5 d-inline-block w-50">
                    <button class="col-md-3 col-sm-6 col-xs-10 pull-right mr-3 yellow-background text-dark" (click)="previous()" >Previous</button>
                </div>
                <div class="text-center mt-5 d-inline-block w-50">
                    <button class="col-md-3 col-sm-6 col-xs-10 pull-left ml-3" [disabled]="!hasCandidates()" (click)="next()" >Next</button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
