<div class="main-content">
    <div class="container-fluid">
        <app-navbar></app-navbar>
        <app-heading-bar>
            <div class="heading">
                Add Candidates
            </div>
            <div class="instruction">
                <i>Instruction: Please provide details about all candidates.</i>
            </div>
        </app-heading-bar>
        <div class="btn-wrapper">
            <div class="btn-group btn-group-sm mt-2">
                <button type="button" class="btn btn-line" (click)="previous()">Election Info</button>
                <button type="button" class="btn btn-green-line">Candidates</button>
                <button type="button" class="btn btn-line" [disabled]="!hasCandidates()" (click)="next()">Voting
                    Algorithm</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="form-election">
                        <form class="text-center" #ngform3="ngForm" (ngSubmit)="add(currentCandidate)">
                            <div class="form-group">
                                <input matInput type="text" [(ngModel)]="currentCandidate" name="candidate_name"
                                    placeholder="Candidate name" required>
                            </div>
                            <div class="text-center mt-10">
                                <span>
                                    <button class="btn btn-green mt-4" [disabled]="!ngform3.valid" type="submit">Add
                                        Candidate</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <br>
                    <div class="card pt-20">
                        <div class="card-header">
                            <h4 class="card-title">Candidates</h4>
                            <p class="card-category">Fill the form to add more candidates</p>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr *ngIf="form3.candidates.length == 0" class="d-block">
                                        No Candidates Added
                                    </tr>
                                    <div class="bg-light" #else *ngFor="let candidate of form3.candidates; let ind = index">
                                        <tr>
                                            <td class="text-black">{{candidate}}</td>
                                            <td class="td-actions text-right">
                                                <button type="button" (click)="delete(ind)" class="btn btn-sm btn-just-icon">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center pt-3 mt-4">
                    <span class="pr-20">
                        <button class="btn btn-green" (click)="previous()">Previous</button>
                    </span>
                    <span class="pr-20 text-right">
                        <button class="btn btn-green" [disabled]="!hasCandidates()" (click)="next()">Next</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>